$p_color: #2962ff;
$p_dark_color: #0039cb;
$p_light_color: #768fff;

$s_color: #00bfa5;
$s_dark_color: #008e76;
$s_light_color: #5df2d6;

$del_color: #eb3223;
$del_dark_color: #d22113;

$l1_color: white;
$l2_color: #f2f2f2;
$l3_color: #e1e2e1;

$l1_text_color: black;
