.history_wrapper {
  display: grid;

  grid-template-areas: "category product request";

  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.category_list_wrapper {
  grid-area: category;
}

.product_list_wrapper {
  grid-area: product;
}
