@import "../../../assets/styles/buttons/button.module.scss";
@import "../../../assets/styles/links/link.module.scss";
@import "../../../assets/styles/themes/light_theme.module.scss";

.header {
  grid-area: header;

  background-color: white;
}

.header_wrapper {
  display: grid;

  grid-template-areas: "logo search tabs button";

  grid-template-rows: 4em;
  grid-template-columns: 4em 18em 1fr auto;
  grid-column-gap: 10px;
}

.tabs_wrapper {
  grid-area: tabs;
}

.logout_button_wrapper {
  grid-area: button;
}

.button {
  @include button();

  height: 1em;
  line-height: 1em;

  margin: 1em;
  
  text-decoration: none;
}

.logout_button {
  @include button();
  margin: 1em;
}
