@import "../../../../../assets/styles/themes/light_theme.module.scss";
@import "../../../../../assets/styles/cards/card.module.scss";
@import "../../../../../assets/styles/buttons/button.module.scss";
@import "../../../../../assets/styles/links/link.module.scss";

.card {
  @include card();
  display: inline-block;

  width: 240px;
  height: 310px;

  margin-top: 5px;
  margin-left: 15px;
  margin-right: 15px;

  margin: 5px 15px 15px 15px;
}

.card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.link {
  @include link($active_color: black);
}

.title {
  font-weight: bold;
  height: 40px;
  margin: 5px;
  margin-bottom: 10px;
}

.specs_table {
  height: 170px;
  width: 240px;

  border: 1.5px solid $l2_color;
  border-radius: 5px;
}

.specs_table tr:last-child td {
  border-bottom: none;
}

.specs_table tr td:first-child {
  width: 160px;
  border-right: 1.5px solid $l2_color;
}

.specs_table tr td:last-child {
  width: 80px;
  color: #484a48;
}

.field {
  font-size: 0.9em;
  padding: 5px;
  border-bottom: 1px solid $l2_color;
}

.price_field {
  margin: 10px 5px 5px 5px;
}

.to_bag_btn {
  @include button();
  margin: 10px 5px 5px 5px;
}
