@import "../../../../../../assets/styles/cards/card.module.scss";
@import "../../../../../../assets/styles/buttons/button.module.scss";
@import "../../../../../../assets/styles/fields/field.module.scss";

.title {
  margin: 10px;
}

.category_card {
  @include card();
  margin-left: 10px;

  width: 300px;
}

.button {
  @include button();

  margin-top: 30px;
}

.text_field {
  @include field();

  width: 280px;
}
