@import "../../../../../assets/styles/themes/light_theme.module.scss";
@import "../../../../../assets/styles/cards/card.module.scss";
@import "../../../../../assets/styles/fields/field.module.scss";
@import "../../../../../assets/styles/buttons/button.module.scss";

.card {
  @include card();

  margin: 10px;

  width: 220px;
}

.input_field {
  @include field();
  margin-bottom: 10px;
  width: 200px;
}

.button {
  @include button();
  margin-top: 20px;
}

